/* ---------------------- FONTS ---------------------- */

@font-face {
    font-family: 'SCP'; /* labels the font family */
    src: url('/font/SourceCodePro-4alW.ttf'); /* sets the link to the Standard Font file of the websites font */
    src: url('/font/SourceCodePro-4alW.eot') format('embedded-opentype'), /* sets the link to the Embedded OpenType Font file of the websites font */
         url('/font/SourceCodePro-4alW.woff2') format('woff2'), /* sets the link to the WOFF2 Font file of the websites font */
         url('/font/SourceCodePro-4alW.woff') format('woff'), /* sets the link to the WOFF Font file of the websites font */
         url('/font/SourceCodePro-4alW.ttf')  format('truetype'), /* sets the link to the TrueType Font file of the websites font */
         url('/font/SourceCodePro-4alW.svg') format('svg'); /* sets the link to the svg file of the websites font */
  }
  
/* ---------------------- GLOBAL STYLES ---------------------- */

html {
    --tar-it_color-white: #FFFFFF; /* defines a variable for the color white */
    --tar-it_color-black: #000000; /* defines a variable for the color black */
    --tar-it_color-darkgrey: #adb3bc; /* defines a variable for the color dark grey */
    --tar-it_color-lightgrey: #d8d7d5; /* defines a variable for the color light grey */
    --tar-it_font-family: 'SCP', Arial, sans-serif; /* defines a variable for the font family of website fonts */
    --tar-it_font-size: calc(0.7rem + 0.4vw); /* resizes the font size depending on the window size */
    font-family: var(--tar-it_font-family); /* sets the global font */
    font-size: var(--tar-it_font-size);
    background-color: var(--tar-it_color-black);
    color: var(--tar-it_color-white);
    text-shadow: var(--tar-it_color-white) 0.1px;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  margin: 0;
}

h1 {
  font-size: calc(2rem + 1vw);
  text-transform: uppercase;
}

h2 {
  font-size: calc(0.9rem + 0.4vw);
  text-transform: uppercase;
}

h3 {
  padding: 10px;
  text-transform: uppercase;
}

img {
  margin: 4vw;
}

#wrapper {
  flex-direction: row;
  display: flex;
}

#sidebar {
  background-color: var(--tar-it_color-black);
  margin: 0;
  top: 0;
  left: 0;
  height: fit-content;
  position: sticky;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
}

#title {
  width: fit-content;
  text-decoration: none;
  color: var(--tar-it_color-white);
}

.navbar-items {
  list-style-type: none;
  padding-left: 0;

}

.navbar-item {
  margin: 10px;
}

.navbar-item a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  color: var(--tar-it_color-white);
}

/* Style for the active navbar item */
.navbar-item a.active {
  border-radius: 10px;
  box-shadow: 0px 2px 5px var(--tar-it_color-white);
}

.navbar-item a:hover {
  background-color: var(--tar-it_color-white);
  color: var(--tar-it_color-black);
}



address {
  text-align: center;
}

main {
  padding: 5vw;
}

section {
  border-radius: 10px; /* Adjust border radius as needed */
  box-shadow: 0px 4px 8px var(--tar-it_color-white); /* Adjust shadow properties as needed */
  padding: 20px;
  margin: 0px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-reversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.container-item-interest {
  width: 50%;
}

.container-item-year {
  width: 30%;
}

.container-item-info {
  width: 70%;
}

.guideline-gif {
  width: 30%
}

.projects-img {
  width: 20vw;
}

footer {
  background-color: var(--tar-it_color-black);
  border-radius: 10px;
  width: fit-content;
  position: sticky;
  bottom: 0;
  margin: 0;
  padding: 5px;
}

.footer-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.footer-item {
  padding: 10px;
}

.footer-item a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  color: var(--tar-it_color-white);
}

.footer-item a:hover {
  background-color: var(--tar-it_color-white);
  color: var(--tar-it_color-black);
}

/* ---------------------- WEBVIEW STYLES ---------------------- */

@media only screen and (device-width: 1281px),
only screen and (min-width:1081px) {
/* Placeholder */
}

/* ---------------------- MOBILE VIEW STYLES ---------------------- */

@media only screen and (device-width: 1280px),
only screen and (max-width:1080px) {

  h3 {
    scroll-margin-top: 12em; /* prevents the content to dissapear behind the header when using the nav in mobile */
  }

  #wrapper {
    flex-direction: column;
  }

  #sidebar {
    background-color: var(--tar-it_color-black);
    margin: 0;
    top: 0;
    height: fit-content;
    position: sticky;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .navbar-toggle {
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  .navbar-items {
    display: none;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  
  .navbar-items.show {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .navbar-items li {
    padding: 10px;
  }
  
  .navbar-items li a {
    color: var(--tar-it_color-white);
    text-decoration: none;
  }

  .mobile-flex-column {
    flex-direction: column;
  }
}

/* ---------------------- TYPEWRITER EFFECT ---------------------- */

.typewriter {
    margin-top: 50px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .60em solid var(--tar-it_color-white); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .2em; /* Adjust as needed */
    animation: 
      typing 3s steps(7, end),
      blink-caret .5s step-end infinite;
}
   
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--tar-it_color-white) }
}

/* ---------------------- MAINTENANCE STYLES ---------------------- */
/* 
html {background-color: #870a0a;}
head {background-color: rgb(177, 112, 112);}
body {background-color: grey;}
#wrapper {background-color: turquoise;}
div {background-color: green;}
.container {background-color: darkgoldenrod;}
.container-reversed {background-color: goldenrod;}
.containeritem-year {}
.containeritem-info {}
#sidebar {background-color: rgb(21, 21, 151);}
header {background-color: #870a0a;}
#title {background-color: greenyellow;}
nav {background-color: yellow}
.nav-list {background-color: azure;}
.nav-link {background-color: antiquewhite;}
address {background-color: aquamarine;}
footer {background-color: aliceblue;} */
