/* ---------------------- FONTS ---------------------- */

@font-face {
    font-family: 'SCP'; /* labels the font family */
    src: url('/font/SourceCodePro-4alW.ttf'); /* sets the link to the Standard Font file of the websites font */
    src: url('/font/SourceCodePro-4alW.eot') format('embedded-opentype'), /* sets the link to the Embedded OpenType Font file of the websites font */
         url('/font/SourceCodePro-4alW.woff2') format('woff2'), /* sets the link to the WOFF2 Font file of the websites font */
         url('/font/SourceCodePro-4alW.woff') format('woff'), /* sets the link to the WOFF Font file of the websites font */
         url('/font/SourceCodePro-4alW.ttf')  format('truetype'), /* sets the link to the TrueType Font file of the websites font */
         url('/font/SourceCodePro-4alW.svg') format('svg'); /* sets the link to the svg file of the websites font */
  }
  
/* ---------------------- GLOBAL STYLES ---------------------- */

body {
    --tar-it_color-white: #FFFFFF; /* defines a variable for the color white */
    --tar-it_color-black: #000000; /* defines a variable for the color black */
    --tar-it_color-darkgrey: #adb3bc; /* defines a variable for the color dark grey */
    --tar-it_color-lightgrey: #d8d7d5; /* defines a variable for the color light grey */
    --tar-it_font-family: 'SCP', Arial, sans-serif; /* defines a variable for the font family of website fonts */
    --tar-it_font-size: calc(0.7rem + 0.4vw); /* resizes the font size depending on the window size */
    font-family: var(--tar-it_font-family); /* sets the global font */
    font-size: var(--tar-it_font-size);
    margin: 0;
    padding: 0;
    background-color: var(--tar-it_color-black);
    color: var(--tar-it_color-white);
    text-shadow: var(--tar-it_color-white) 0.5px 0.5px;
}

h1 {
  font-size: calc(2rem + 1vw);
  text-transform: uppercase;
}

h2 {
  font-size: calc(0.9rem + 0.4vw);
  text-transform: uppercase;
}

h3 {
  font-size: calc(0.8rem + 0.4vw);
  text-transform: uppercase;
}

h4 {
  font-size: calc(0.7rem + 0.4vw);
  text-transform: uppercase;
}

li a {
  color: var(--tar-it_color-white);
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.container {
  outline: dotted var(--tar-it_color-white) 3px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.margin-padding {
  margin: 10px;
  padding: 20px;
}

#wrapper {
  display: flex;
}

#sidebar {
  background-color: var(--tar-it_color-black);
  margin: 0;
  top: 0;
  left: 0;
  height: fit-content;
  position: sticky;
}

#title {
  width: fit-content;
}

#header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navigation-link {
  font-size: 1vw + 0.5rem;
  list-style-type: none;
}

.navigation-link a:hover {
  background-color: var(--tar-it_color-white);
  color: var(--tar-it_color-black);
}

#contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  display: inline-block;
  margin: 10px;
  background-size: cover;
  cursor: pointer;
  background-repeat: no-repeat;
  height: 3vw;
  width: 3vw;
  list-style-type: none;
  text-indent: 0 0 0px 0;
  white-space: nowrap;
  overflow: hidden;
}

#email-icon {
  background-image: url(/img/ico/email_icon.png);
}

#github-icon {
background-image: url(/img/ico/github_icon.png);
}

#linkedin-icon {
background-image: url(/img/ico/linkedin_icon.png);
}

#portrait {
  height: 250px;
}

.interests-container {
  width: 50%;
}

.guideline-img {
  margin: 0px 20px;
  height: 20vw;
}

.experience-container {
  display: flex;
  align-items: center;
  text-align: left;
}

.experience-container:hover {
  outline: solid var(--tar-it_color-white) 2px;
}

.experience-container-date {
  width: 5%;
}

.experience-container-info {
  width: 55%;
}

footer {
  background-color: var(--tar-it_color-black);
  margin: 0;
  padding-top: 10px;
  position: sticky;
  bottom: 0;
  text-align: center;
}

footer p {
  font-size: calc(0.5rem + 0.4vw);
}

/* ---------------------- WEBVIEW STYLES ---------------------- */

@media only screen and (device-width: 1281px),
only screen and (min-width:1081px) {

  #sidebar {
    width: 25vw;
  }

  #navigation-section ul {
  text-align: right;
  }

  .navigation-link {
    margin: 25px;
  }

  #content-section {
    right: 0;
    left: 0;
    height: fit-content;
    width: 75vw;
  }
}
/* ---------------------- MOBILE VIEW STYLES ---------------------- */

@media only screen and (device-width: 1280px),
only screen and (max-width:1080px) {

  #wrapper {
    flex-direction: column;
  }

  #sidebar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header-section {
    height: fit-content;
    margin: 20px;
    padding: 0;
    flex-direction: column;
  }

  #navigation-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #navigation-section ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .navigation-link {
    margin: 0px;
    display: flex;
  }

  #contact-section {
    background-color: var(--tar-it_color-black);
    flex-direction: column;
  }

  .contact-icon {
    margin: 5px;
    height: 4vw;
    width: 4vw;
  }
}

/* ---------------------- TYPEWRITER EFFECT ---------------------- */

.typewriter {
    margin-top: 50px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .60em solid var(--tar-it_color-white); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .2em; /* Adjust as needed */
    animation: 
      typing 3s steps(7, end),
      blink-caret .5s step-end infinite;
  }
   
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--tar-it_color-white) }
  }

/* ---------------------- MAINTENANCE STYLES ---------------------- */
/* 
head {background-color: grey;}
body {background-color: grey;}
#wrapper {background-color: turquoise;}
#sidebar {background-color: blue;}
#header-section {background-color: green;}
#title {background-color: greenyellow;}
nav {background-color: yellow}
#navigation-section {background-color: gold;}
#contact-section {background-color: orange;}
.contact-icon {background-color:saddlebrown;}
#content-section {background-color: red;}
#about-section {background-color: lightcoral;}
#portrait {background-color: hotpink;}
#interests-section {background-color: darkorchid;}
#guideline-section {background-color: slateblue;}
#experience-section {background-color: rebeccapurple;}
.experience-container {background-color: bisque;}
.experience-container-fromto {background-color: rosybrown;}
.experience-container-info {background-color: burlywood;}
#career-section {background-color: blue;}
#certificates-section {background-color: brown;}
#projects-section {background-color: blueviolet;}
.project-img {background-color: hotpink;}
footer {background-color: aliceblue;} */
